
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: #444;
    height: 100vh;
    background-image: url(src/wp2276048-game-controller-wallpapers.jpg);
}
        /* HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #333;
    display: block;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_list{
    margin-right: 2rem;
}
.links{
    display: flex;
    gap: 2rem;
}

.li_header{
    list-style: none;
    font-size: 1.5rem;
    color: white;
}

.li_header:hover{
    color: orange;
    cursor: pointer;
}

.toggle_btn{
    color: white;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.menu{
    position: absolute; 
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background-color: #333;
    overflow: hidden;
    display: none;
    transition: left 0.2s ease;
    display: block;
}

.menu_cache .menu{
    display: block;
    position: fixed;
    left:0;
    top: 0;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    transition: left 1s ease;
    background-color: #555;
}
.toggle_btn_menu{
    color: white;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    /* margin-bottom: 100px; */
}

.menu.open{
    height: 240px;
}
        /* RESPONSIVE */
@media(max-width: 992px){

    body.menu_cache header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        z-index: -1;
    }

    .links {
        display: none;
    }

    /*.navbar {
        display: flex;
        padding: 0 2rem;
    }*/
    .navbar {
        height: 60px; 
        padding: 0 15px;
    }

    .toggle_btn {
        display: block;
    }
    .toggle_btn_menu{
        display: block;
        padding: 0;
    }
    .menu {
        display: block;
    }

    .test {
        display: block; 
        padding: 0;
        margin: 0;
    }
    li{
        /*margin: 25px 5px;
        padding:1rem;*/
        margin: 0;
        padding: 0;
    }
    .li_header:hover{
        border: 1px solid white;;
    }
    .menu li {
        margin: 20px 0;
        padding: 0 1rem;
    }
    header {
        top: 0;
        left: 0;
    }
}